* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
}

:root{
    --button-colour: 63, 179, 255;
}

/* ------------- Navbar start ---------------- */

nav {
    height: 10vh;
    min-height: 50px;
    background: #5b78c7;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0.5%;
    top: 0;
    z-index: 99;
    position: sticky;
    align-items: center;
}

.nav-links{
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1;
    grid-column: 4 / span 6;
    list-style: none;
    align-items: center;
    text-align: center;
    height: 100%;
}

.nav-links a{
    height: 70%;
    display: grid;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    border-right: solid;
    border-color: grey;
    border-width: 1px;
    align-items: center;
}


.nav-links a:hover{
    color: black;
}

#nav-brand{
    display: grid;
    grid-column: 2 / span 2;
    /* background-color: black; */
    width: 100%;
    height: 3vw;
    background-image: url("img/Logo_aligned.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.search-nav{
    grid-column: 10 / span 4;
    grid-row: 1;
    /* background-color: red; */
    width: 100%;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid blue;
    border-radius: 50px 0px 0px 50px;
    float: left;
    width: 85%;
    background: white;
}

form.search button {
    float: left;
    width: 15%;
    padding: 10px;
    background: white;
    font-size: 17px;
    border: 1px solid blue;
    border-radius: 0px 50px 50px 0px;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

/* input[name=search]:focus{
    outline:none;
} */

.buttons-nav{
    grid-column: 14 / span 2;
    height: 50%
}

.button-style{
    transition-duration: .5s;
    border: none;
    background-color: rgba(var(--button-colour),0.5);
    float: left;
    width: 48.5%;
    height: 90%;
    margin-bottom: 10%;
    border-radius: 50px 50px 50px 50px;
}

.button-style:hover{
    cursor: pointer;
    background-color: rgba(var(--button-colour), 0.75);
}

.login-button{
    margin-right: 3%;
}

.button-style:hover{
    cursor: pointer;
    background-color: rgba(var(--button-colour), 0.75);
}

 /* ------------- navbar end ------------ */
 /* --------------- description start ----------- */

 .description {
    margin: 2vh 6.25% 2vh 6.25%;
 }

 .description > h1 {
    display: inline;
    font-size: 2vw;
    font-size: calc(16px + 2vw);
    padding-right: 2vw;
 }

 .known-for{
    display: inline;
    font-size: 1.2vw;
    font-size: calc(8px + 1.2vw);
 }

 .known-for > span {
    padding-left: 2vw;
    padding-right: 2vw;
    border-left: 1px solid grey;
 }

 .description > p {
    margin-top: 15px;
 }

 /* ---------- description end -------------- */

/* -------------- object Overview -------------- */
.obj-overview-content{
    display: grid;
    margin: 0px 6.25% 0px 6.25%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 1vh; 
    height: 75vh;
}

.obj-overview-content h1{
    font-size: 1.5vw;
    font-size: calc(10px + 1.2vw);
    margin: 1vh 1vw 1vh 1vw;
}

.obj-overview-content h2{
    font-size: 1.2vw;
    font-size: calc(10px + .6vw);
    margin: 1vh 1vw 1vh 1vw;
}

.obj-overview-content > div{
    border: 1px solid grey; /* Adds border to every child div (Every over-view content box) */
    background: #F8F8F8;
    padding: 1em; /* Adds padding to every child div (Every over-view content box) */
}
/* .location-overview-content > div:nth-child(odd){
    background:#ddd;
} */

    /* <------------------- Object Overview Pictures -----------------> */
    .obj-pictures {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 1%;
        grid-row-gap: 1%;
    }

    #remove-style {
        padding: 0px;
        border-style: none;
    }

    .obj-pictures > div{
        background: white;
    }

    .overview-main-image{
        grid-row: 1/4;
    }
    
    .obj-pictures > div{
        cursor: pointer;
    }


    /* <------------------- Object Overview Pictures End -----------------> */

    /* <------------------ Object Review Overview ---------------> */
    .obj-review-overview {
        /* height: 60vh; */
        grid-column: 3;
        grid-row: 1/3;
        display: grid; /* inside of the review overview is a grid layout*/
        grid-auto-rows: min-content; /* minimum height to fit all content */
        grid-template-rows: auto auto auto 1fr; /*first three rows are auto (to fit content) and the last row takes the rest of the space */
    }

    .obj-review-overview > div {
        margin: 1vh 1vw 1vh 1vw;
    }

    .star {
        font-size: 1.2vw;
        font-size: calc(8px + .6vw);
        color: gold;
        margin-left: .4vw;
        text-align: center;
    }

    .obj-overview-rating > span {
        font-size: 1.2vw;
        font-size: calc(8px + .6vw);
    }

    .obj-overview-rating-allreviews{
        float: right;
        font-size: 1vw;
        font-size: calc(6px + .6vw);
    }

    .obj-overview-list > li {
        list-style-type: none;
        padding: .5vh 0px .5vh 0px;
        width: 100%;
        height: auto;
    }

    /* The below property changes the color of one of the overview reviews so the user 
    knows what star of review they're looking at. Javascript will be used later to change
    what review is being looked at */
    div.active-review { 
        color: darkcyan;
    }

    .right-style {
        width:auto;
        height:100%;
        background:white;
        border: 1px solid black;
        overflow:hidden;
        text-align: center;
    }

    .left-style {
        height:100%;
        float:left;
        margin-right: 1vw;
    }

    .left-style:hover {
        cursor: pointer;
    }

    .five-overview-bar {
        background-image: linear-gradient(120deg, rgba(63, 179, 255)  0%, blue 100%);
        background-repeat: no-repeat;
        background-size: 95% 100%;
    }

    .four-overview-bar{
        background-image: linear-gradient(120deg, rgba(63, 179, 255) 0%, blue 100%); /*sets a gradient as the background of the div */
        background-repeat: no-repeat; /*gradient takes full width without repeating */
        background-size: 5% 100%;  /* background (gradient) take 5% width, 100% height */
    }

    .obj-overview-reviews {
        /* background-color: #F8F8F8; */
        overflow: hidden; /*Cuts off the extra text at the bottom, need js to remove objects if not enough room */
    }

    .overview-review-list {
        list-style-type: none;
    }

    .overview-review-list li{
        margin: 1vh 0px 1vh 0px;
    }



    /* <------------------ Object Review Overview End---------------> */

    /* <------------------ Object Travel Overview Start---------------> */
    .obj-travel-overview{
        display:grid;
        grid-template-columns: 4fr 5fr;
    }
    
    .fa-globe{
        color: lightblue;
        font-size: 1vw;
        font-size: calc(10px + .4vw);
    }

    .fa-map{
        color: lightblue;
        font-size: 1vw;
        font-size: calc(10px + .4vw);
    }

    .fa-map-marker{
        color: lightblue;
        font-size: 1vw;
        font-size: calc(10px + .4vw);
    }

    .travel-info > div{
        margin-top: 2vh;
    }

    .travel-info h3 {
        font-size: 1vw;
        font-size: calc(10px + .4vw);
        margin: .75vh 1vw .75vh 1vw;
        font-weight: 150;
    }

    .overview-map{
        background-color: white;
    }

    .travel-info{
        overflow: hidden;
    }

    /* <------------------ Object Travel Overview End---------------> */

    /* <------------------ Object Location Overview Start---------------> */
    
    .obj-location-overview p{
        margin: 0vh 1vw 0vh 1vw;
        font-size: 1vw;
        font-size: calc(10px + .4vw);
    }

    .obj-location-overview h3{
        margin: 1vh 1vw 0vh 1vw;
        font-size: 1vw;
        font-size: calc(10px + .4vw);
        font-weight: 750;
    }

    .fa-desktop {
        color: lightblue;
        font-size: 1vw;
        font-size: calc(10px + .4vw);
    }

    .fa-clock{
        color: lightblue;
        font-size: 1vw;
        font-size: calc(10px + .4vw);
    }
    
    /* <------------------ Object Location Overview End---------------> */

/* ---------------- Object Overview End ---------------- */

/* ---------------- Submit Review Start ---------------- */
.obj-reviews{
    margin-top: 2vh;
    height: auto;
    background-color: #f7fbfd;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.submit-review-border{
    padding: 20px;
    border: 1px solid grey;
}

.submit-review-form{
    height: auto;
    width: 100%;
    grid-column: 3 / 15;
    padding: 3vw;
    margin-top: 4vh;
    background-color: white;
    /* border: 1px solid lightskyblue; */
}

.submit-review-form  h1 {
    text-align: center;
}

.obj-reviews input[type=text],textarea {
    width: 100%;
    height: 5vh;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
  }

.review-form-item{
    margin-top: 2vh;
}
  
 .obj-reviews input[type=submit] {
    width: 100%;
    background-color: goldenrod;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #review-description{
      height: 20vh;
  }
  
  .obj-reviews  input[type=submit]:hover {
    background-color: gold;
  }

  .review-form-item > .star:hover{
        color: gold;
  }

  .review-form-item > .star{
    color: grey;
}

/* ---------------- Submit Review End ---------------- */

/* ------------------ Object Reviews Start-------------------- */
.obj-review{
    grid-column: 3/15;
    background-color: white;
    margin-bottom: 3vh;
}
.obj-review-list{
    padding-top:5vh;
}

.obj-review-list > li {
    list-style: none;
    margin: 2vh 2vw 2vh 2vw;
    border-bottom: 1px solid lightblue;
    padding-bottom: 3vh;
}

.obj-review-list  p {
    padding: 1vh 0vw 1vh 0vw;
}

/* ------------------ Object Reviews End-------------------- */

.web-footer {
    min-height: 100px;
    background-color: #33383b;
    color: white;
    height: 10vh;
    bottom: 0px;
}

.web-footer a{
    font-size: calc(16px + 1.5vh);
}

.left-side {
    float: left;
}

.right-side a {
    float: right;
    margin: 2vh .5vw 2vh .5vw;
    background-color: gray;
    padding: 1vh 1vw 1vh 1vw;
    cursor: pointer;
}

.right-side a:hover {
    background-color: darkgray;
}



@media screen and (max-width: 768px){

    /* ----------- media overview start ----------*/

    .obj-overview-content{
        grid-template-columns: 1fr; /*resizes overview grid to just be one row */
        grid-template-rows: 2fr 1fr 1fr;
        height: 100vh;
    }

    .obj-pictures{
        grid-column: 1 / -1;
        grid-row: 1;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        width: 100%;
        /* height: 50vh; */
    }

    .overview-main-image{
        grid-column: 1 / -1;
        grid-row: 1;
        height: 100%;
        width: 100%;
    }

    .side-image{
        display: none;
    }

    .obj-review-overview {
       display: none;
    }

    .obj-travel-overview{
        grid-column: 1;
        height: auto;
    }

    .obv-location-overview{
        grid-column: 1;
        grid-row: 1;
        height: auto;
    }

    /* ----------- media overview end ----------*/

    /* --------------- media navbar start ------------- */
    .nav-links a{
        border-bottom: solid;
        border-right: none;
        height: 100%;
        width: 100%;
        font-size: 4vw;
    }

    .search-nav{
        display:none;  /* nav search bar gets removed when in mobile */
    }

    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav{
        display: grid;
        grid-auto-flow: row;
        position: sticky;
        top: 0;
        z-index: 99;
    }

    #nav-brand{
        grid-column: 5 / span 8;
        z-index: 99;
        height: 75%;
        width: 100%;
        background-position: center;

    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 5;
    }

    .nav-links{
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(0px at 90% -10%);
        -webkit-clip-path: circle(0px at 90% -10%);
        transition: all 1s ease-out;
        z-index: 4;
    }

    .nav-links a{
        grid-auto-flow: row;
    }

    .nav-links.open{
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%); 
    }

    .buttons-nav{
        display: none;
    }

    /* -------------------- navbar media end ------------------- */
}