* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --button-colour: 63, 179, 255;
}

nav {
    height: 10vh;
    background: #5b78c7;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    top: 0;
    z-index: 99;
    position: sticky;
    align-items: center;
}

.nav-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 11 / span 6;
    list-style: none;
    background-color: lightcoral;
    align-items: center;
    text-align: center;
    height: 100%;
}

.nav-links a{
    height: 100%;
    display: grid;
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    border: solid;
    border-color: black;
    border-width: 1px;
    align-items: center;
}


.nav-links a:hover{
    color: black;
}

#nav-brand{
    display: grid;
    grid-column: 2 / span 2;
    /* background-color: black; */
    width: 100%;
    height: 3vw;
    background-image: url("img/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}


.search-nav{
    grid-column: 6 / span 3;
    /* background-color: red; */
    width: 100%;
}

.search-main{
    grid-column: 4 /span 10;
    grid-row: 6/ span 1;
    display: none;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid blue;
    border-radius: 50px 0px 0px 50px;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid blue;
    border-radius: 0px 50px 50px 0px;
    border-left: none;
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

input[name=search]:focus{
    outline:none;
}

#landing-page{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

@media screen and (max-width: 768px){

    .search-nav{
        display:none;  /* nav search bar gets removed when in mobile */
    }

    .search-main{
        display: block;
    }

    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav{
        display: grid;
        grid-auto-flow: row;
        position: sticky;
        top: 0;
        z-index: 99;
    }

    #nav-brand{
        grid-column: 8 / span 2;
        z-index: 99;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links{
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(0px at 90% -10%);
        -webkit-clip-path: circle(0px at 90% -10%);
        transition: all 1s ease-out;
    }

    .nav-links a{
        grid-auto-flow: row;
    }

    .nav-links.open{
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%); 
    }
}

#landing-page {
    position:relative;
    background-size: cover;
    background-image: url("img/background_landing.png");
}

/*    BUTTON    */

 .buttons{
     z-index: 1;
     position: absolute;
     margin: 20px;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
 }

 .button-style{
     transition-duration: 2s;
     background-color: rgba(var(--button-colour),0.5);
     padding: 20px 50px;
     position: relative;
     z-index: 1;
 }

 .button-style:hover{
     cursor: pointer;
     background-color: rgba(var(--button-colour), 0.75);
 }

/*    SIGN UP BUTTON   */


 /*    CLOSE BUTTON   */

 .close{
      display: none;
      padding: 20px 20px;
      position: absolute;
      right: 0;
  }

 .close:hover{
     cursor: pointer;
     background-color: rgba(var(--button-colour), 0.75);
 }

 /*     Sign Up Page     */

 div#blur{
     width: 100vw;
     height: 100vh;
     z-index: 1;
     transition: 2s;
 }

 #blur>div{
     position:fixed;
     max-width: 768px;
     left: 50%;
     transform: translateX(-50%);
     bottom:5%;
     width:88%;
     height: 80%;
     transition: 2.5s;
 }

 form{
     display:none;
     transition:2.5s;
 }