#full-page-form{
    width: 100%;
    height: 100vh;
    margin: 10vh 0;
    /*background-color: blue;*/
}

#pop-up-form{
    position: absolute;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    width: 35%;
    min-width: 400px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 25px 0;
    box-shadow: 0 25px 46px rgba(0,0,0,0.70), 0 20px 15px rgba(0,0,0,0.32);
}

.form-style{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;
    background-color: white;
    font-size: 15px;
}

#pop-up-form > div{
    width: 75%;
    padding: 10px 0;
}

#full-page-form > div{
    width: 50%;
    padding: 1% 0;
}

.form-style > h1 {
    padding: 15px 0;
}

.terms-and-conditions{
    font-size: 15px;
    padding: 2.5px 0;
}

.form-style select{
    display: block;
    height: 35px;
    width: 100%;
    text-align: center;
    margin-top: 3px;
    border: 1px solid grey;
    border-radius: 20px 20px 20px 20px;
}

.form-style input {
    display: block;
    height: 35px;
    width: 100%;
    text-align: center;
    margin-top: 3px;
    border: 1px solid grey;
    border-radius: 20px 20px 20px 20px;
}

.form-style input[type="checkbox"]{
    float: left;
    left: 0;
    transform: translateX(0);
    width: 20px;
    height: 20px;
    margin: 0;
}

.form-style input[type="submit"]{
    border: none;
    background-color: rgba(var(--button-colour),0.5);
    border-radius: 50px 50px 50px 50px;
    height: 65px;
    width: 35%;
}

.form-style .error-message {
    position: absolute;
    font-size: 12px;
    color: red;
}

form label {
    display: inline-block;
    /*font-height:*/
}

.blur-background{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.4);
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
    cursor: pointer;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 40px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.login, .signup{
    display: none;
}

@media screen and (max-width: 768px){
    #full-page-form{
        padding: 0 5%;
    }
    #full-page-form > div{
        width: 100%;
        padding: 1% 0;
    }
}